@font-face {
    font-family:averta;
    src: url("./font/AvertaDemo-ExtraBoldItalic.otf");
}
@font-face {
    font-family: second;
    src: url("./font/AvertaDemo-Regular.otf");
    
}
@font-face {
    font-family: third;
    src: url("./font/__MACOSX/");
}
*{
    margin: 0px auto;
    font-family:second;
    text-decoration: none;
}

.hero{
    background: url("https://zuri.team/img/hero-bg.svg") center center;
    background-size: cover;
    height: 700px;
    display: flex;
    flex-direction: column;
    

}
.img-cover {
    
    display: flex;
    justify-content: center;
    height: 150px;
    align-items: center;
}
.hero .text{
    padding: 10px;
    max-width: 700px;
    text-align: center;
}
.hero #text{
    font-family:second ;
    font-size: 32px;
    line-height: 48px;
    color: #514949;
    text-align: center;
    padding-bottom: 55px ;
}
.text a{
    color: red;
    text-decoration: none;
}
.text p{
    font-size: 16px;
    line-height: 24px;
    opacity:0.9 ;
    color: #514949;
    text-align: center;
    margin-bottom: 4em;
}
.container-button a{
    border: 1px solid red;
    padding: 12px 20px;
    margin-right: 2em;
    
}
.container-button{
    display: flex;
    flex-wrap: wrap;
    margin: 0px auto;
}

.first-link{
    background-color: red;
    color: white;
    margin-bottom: 25px;
    
}

.second-link{
    color: red;
    background-color: white;
    margin-bottom: 25px;
}
.first-link:hover{
    background-color: white;
    color: red;
}
.second-link:hover{
    background-color: red;
    color: white;
}
.middle{
    background-color: #fff;
    
}
.red{
    color: red;
}
.top{
    text-align: center;
    margin-bottom: 64px;
}
.top .text{
    font-size: 24px;
    line-height: 40px;
    color: #514949;
}
.top .red{
    padding: 20px;
    font-size: 14px;
    line-height: 24px;
    margin-top: 141px;
}
.programs{
    display: flex;
    margin: 20px 0;
    width: 100%;
    flex-wrap: nowrap;
    flex-basis: 33.33%;
    justify-content: space-evenly;
    padding-top: 55px;
    padding-bottom: 70px;
    justify-content: center;
}
.imp{
    width: 370px;
}
.first-card{
   max-width:220px;
    background-color: #FFFAFA;
    
    margin: 30px 20px;
    margin-bottom: 30px;
    margin-right: 20px;
    padding:30px 55px;
    padding-right: 70px;
    padding-bottom: 70px;

    color: #514949;
    opacity: 0.9;
    line-height: 24px;
}
.second-card{
    max-width:230px;
    background-color: #FFFAFA;

    margin: 30px 20px;
    margin-bottom: 30px;
    margin-right: 20px;
    padding:30px 55px;
    padding-bottom: 100px;
    padding-right: 60px;
    color: #514949;
    opacity: 0.9;
    line-height: 24px;
}
.third-card{
    max-width:220px;
    background-color: #FFFAFA;
    
    margin: 30px 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    padding:30px 55px;
    padding-bottom: 80px;
    padding-right: 70px;
    color: #514949;
    opacity: 0.9;
    line-height: 24px;
}
.programs .specific-img{
    padding-bottom: 30px;
}
.programs p {
    margin-bottom: 40px;
}
.programs a {
    margin-bottom: 100px;
}
.back{
    width: 27%;
    position: absolute;
    /* z-index: -1; */
    top: 66rem;
    left: -15px;
    height: 70%;
}
.back-last{
    width: 27%;
    position: absolute;
    top: 66rem;
    right: 3px;
}
footer{
    margin-top: 180px;
 
}
#footer{
     display: flex;
    justify-content: space-between;
    padding-bottom: 60px;
    color: #514949;
    font-size: 16px;
}

.copyright{
    height: 10rem;
    padding-top: 3rem;
    text-align: center;
    font-weight: bold;
    color: #514949;
}
#footer h3{
    padding-bottom: 10px;
    font-size: 16px;

}
.store .space {
    padding-bottom: 20px;
}
.follow img{
    width: 18px;
}
@media only screen and (max-width:1024px) {
    .programs{
        flex-wrap: wrap;
    }
    .first-card{
        max-width: 100%;
    }
    .second-card{
        max-width: 100%;
    }
    .third-card{
        max-width: 100%;
    }
    
}
@media only screen and (max-width:509px) {
    .container-button{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .first-link{
        align-self: center;
    }
    .container-button a{
        margin-right: auto;
    }
    
}
@media only screen and (max-width:768px) {
    #footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .img-footer img{
        width: 150px;
        margin-bottom: 15px;
    }
    #footer h3{
        font-size: 24px ;
        margin-top: 18px;
    }
    .store{
        margin-top: 18px;
        text-align: center;
    }
    .footer-contact{
        text-align: center;
    }
    .footer-contact p{
        font-size: 14px;
        opacity: 0.9;
    }
    .follow{
        text-align: center;
        margin-top: 20px;
    }
}